@tailwind base;
@tailwind components;
@tailwind utilities;



#metasite {
    background-image: url("./metasite.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    color: rgba(55, 65, 81, var(--tw-text-opacity))
}

.title-font-blue {
    font-family: 'Otomanopee One', sans-serif;
    color: #1D3556;
}

.title-font-yellow {
    font-family: 'Otomanopee One', sans-serif;
    color: #FBF2DA;
}

.resyellow {
    background-color: #FBF2DA;
    color: #1D3556;
}

.resyellowtext {
    color: #FBF2DA;
}

.resblue {
    background-color: #1D3556;
    color: #FBF2DA;
}

.resbluetext {
    color: #1D3556;
}

.resblueback {
    background-color: #1D3556;
}

.imageborder {
    transition: all .2s ease;
    outline: none;
    border: solid 3px #FBF2DA;
}

.notes {
    outline: none;
    transition: all .2s ease;
    border: solid 2px rgba(252, 165, 165);
    box-shadow: -7px 0px 15px -10px rgba(0, 0, 0, .1);
    -webkit-box-shadow: -7px 0px 15px -10px rgba(0, 0, 0, .1);
    -moz-box-shadow: -7px 0px 15px -10px rgba(0, 0, 0, .1);
}

.bordershape {
    border-radius: 10px 10px 10px 10px/10px 10px 10px 10px;
}
