@tailwind base;
@tailwind components;
@tailwind utilities;

#name, .title-font-only {
    font-family: 'Otomanopee One', sans-serif;
    color: #1D3556;
}

.resyellow {
    background-color: #FBF2DA;
    color: #1D3556;
}

.resblue {
    background-color: #1D3556;
    color: #FBF2DA;
}
.resblueback {
    background-color: #1D3556;
}
.resyellowtext {
    color: #FBF2DA;
}

.resbluetext {
    color: #1D3556;
}

.metasite {
    
    background-image: url("./metasite.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}
/* 
#aboutbox {
    background-image: url("./whiteflower.PNG");
    background-repeat: no-repeat;
    background-position-x: center;
    /* background-size: cover; }*/
